h1 {
    background-color: #ffebcd;
}
.LeftBorder {
    float: right;
    width: 200px;
    height: 4000px;
    background: #ffebcd;
    border-width:7;
    border-color: #ffd493;
    border-style: solid;
            } 



.RightBorder {
    float: left;
    width: 200px;
    height: 4000px;
    background: #ffebcd;
    border-width:7;
    border-color: #ffd493;
    border-style: solid;
            } 
