h1 {
    background-color: #ffebcd;
    text-align: center;
}
.LeftBorder {
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(-0%);
    width: 15%;
    height: 4000px;
    background: #444444;
    border-width:9px;
    border-color: #292929;
    border-style: solid;

 

} 
.RightBorder {
    position: absolute;
    left: 100%;
    top: 0%;
    transform: translate(-100%);
    width: 15%;
    height: 4000px;
    background: #444444;
    border-width:9px;
    border-color: #292929;
    border-style: solid;
    
 

}




